*{
    margin: 0;
    padding: 0;
   
}

body{
    background: #e8dcd3;
    background-position: 100%;
}

.first{
    position: absolute;
    width: 100%;
    height: 180vh;
    padding-bottom: 250px;

}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
   
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.logo{
    width: 10%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

nav ul li a{
    text-decoration: none;
    color:rgb(85, 59, 22);
    font-weight: bold; 
}

nav ul li a:hover{
    color:rgb(232, 146, 61);
}

.personal{
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%);
    color: rgb(85, 59, 22);
    font-family: cursive;
}

.images{
    width: 50%;
    height: 90%;
    top: 10%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 45%;
    position: absolute;
    left: 50%;
    bottom: 0;
    top: 0%;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .frame{
    bottom: 40px;
}

.images:hover .me{
    left: 45%;
}
span{
    color:rgb(232, 146, 61);
}

.about-sec{
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate(-50%);
    color: rgb(85, 59, 22);
    font-family: cursive;
    font-size: large;
}

.haha{
    position: absolute;
    width: 550px;
    bottom: 30%;
    right: 130%;
    top: 3%;
    
}

video{
    width: 85%;
    
}


.whatIdo-sec{
    float: left;
    margin-top: 50%;
    transform: translate(-50%);
    color: rgb(85, 59, 22);
    font-family: cursive;
    position:relative;
    right: 400px;
    top: 110px;
    font-size: large;
}

.hehe{
    position: absolute;
    width: 550px;
    bottom: 50%;
    left: 20%;
    top: 90%;
    right: 20%;
}

video{
    width: 85%;
    
}

.contact-sec{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%);
    color: rgb(85, 59, 22);
    font-family: cursive;
    font-size: large;
}


.accounts{
    position: absolute;
    top: 150%;
    right: 0%;
    left: 30%;
    transform: translate(-50%);
    color: rgb(85, 59, 22);
    font-family: cursive;
}

.lastpic{
    position: absolute;
    float: right;
    right: 400px;
    bottom: 0%;
    top: 5px;
    margin-top: 0%;

}